.header {
  padding: 10px;

}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
}

.icon {
  padding: 15px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.search-input {
  width: 95%;
  padding: 10px;
  padding-left: 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background-color: #fdf7f7;

}


.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
  font-size: 16px;
}

@media (max-width: 480px) {
  .header {
    padding: 5px;
  }

  .title {
    font-size: 16px;
  }

  .search-input {
    width: 85%;

  }

}